html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#aboutMe{
  display: none;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
}

#character {
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#map{

}